[submodule "packages/frontend/next-app"]
	path = packages/frontend/next-app
	url = git@github.com:gggongbo/next-app.git
[submodule "packages/backend/nest-app"]
	path = packages/backend/nest-app
	url = git@github.com:gggongbo/nest-app.git
